audio{
    width:100%;
}

.comment, .reply {
    border-left: 1px solid #e0dada;
}

.editor-right{
    position:fixed;
    right:10.3%;
    width:30%;
    top:10%;
}

.editor-right span h5{
    text-align:center;
    font-size:20px;
}
.editor-right .comment-editor{
    height:90vh;
    /* border:1px solid black; */
    box-shadow: 0 0 2px 0px;
    overflow-y: scroll;
}

.editor-right .comment-editor .comment_text textarea{
    width:100%;
    height:50px;
}

.comment_text{
    margin-bottom:16px;
}
.comment_text i{
    float:right;
    right:0;
    display: none;
}

.editor-right .audio-editor{
    height:45vh;
    border:1px solid black;
    overflow-y:scroll;
}

.editor-right .audio-editor .audio-btn{
    text-align:center;
}

#snow-container{
    display: none;
}

.ql-toolbar.ql-snow {
    position: fixed;
    width: 82%;
    height: 10%;
    padding:10px;
    display: flex;
    align-items: center;
    background-color:#ccc;
    z-index: 999;
}

.editor-continer{
    position: absolute;
    top:63px;
    height: 100vh;
    width:80%;
}

#editor {
    /* border: 1px solid black; */
    background-color:#f1f1f1;
    height: 100vh;
    padding: 60px 40px 30px;
    /* margin-top:50px; */
}

.main-container{
    width:85%;
    margin:auto;
}

.main__container{
    margin-top:20px;
    background-color:#f1f1f1;
    padding:10px;
}

.ql-editor{
    padding:30px;
    background-color: white;
}

/* Comment link */
.main-comment-container{
    box-shadow: 0 0 2px 0px;
    padding:10px;
    position: relative;
}
.comment-link{
    color:black;
    box-shadow: 0 0 5px 5;
    
}
.comment-info{
    display: flex;
    background-color:rgba(51,122,183,1);
    color:white;
    font-size:12px;
}

.comment-user{
    margin-left:10px;
}

.comment-time{
    position: absolute;;
    right:10%;
}

.value-comment{
    padding-left:10px;
    padding-bottom:10px;
}

.replySection{
    position: relative;
}

.replyIcon {
    position: absolute;
    right: 1%;
    bottom: 5%;
}

.comment_source{
    position: absolute;
    right:2%;
    bottom:0;
}

.comment_source i{
    margin:5px;
}

.remove_comment{
    position: absolute;
    top:1px;
    right:1%;
}


/* Recorder */


.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
 max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

.recorder-div{
    max-width: 300px;
    height: 250px;
    position: relative;
    text-align: center;
    padding: 5px 0;
}

.recorder-div p{
    padding-top: 5px;
    color: #c53e46;
    font-family: Merriweather;
    font-size: 18px;
}
.recorder-div .sub,
.recorder-div .sub1
{
    font-family: Merriweather;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    line-height: 20px;
    color: #575757;
}
.recorder-div .sub1{
    font-size: 25px;
    display: none;
    height: 45px;
}
.recorder-record-btn,
.recorder-stop-record-btn{
    width: 90%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}
.recorder-record-btn input, .recorder-record-btn input:hover, .recorder-record-btn input:active, .recorder-record-btn input:visited,
.recorder-stop-record-btn input, .recorder-stop-record-btn input:hover, .recorder-stop-record-btn input:active, .recorder-stop-record-btn input:visited {
    width: 100%;
    border-radius: 20px;
    background-color: #c53e46 !important;
}

.recorder-stop-record-btn{
    display: none;
}
.modal-close-btn{
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.timer-div{
    font-size: 40px;
    margin: 18px;
}
/* @media screen and (max-width:600px){
	.link-text{
		font-size:1.1em;
	}
	
	.link-btn1, .link-btn2, .link-btn3, .link-btn4, .link-btn5, .link-btn6 {
		font-size:1.4em;	
	}
	
	.fileImg img {
		width:5em;
	}
	
	#pop-up1, #pop-up2, #pop-up3, #pop-up4, #pop-up5, #pop-up6 {
		border-radius:0;
	}
} */




/* 

$(document).on('click','.trash_comment',function(){
    var id = $(this).parent().attr('id');
    var entity = $(this).parent().parent().parent().attr('class');
    if(entity){
        if(comments[id].reply.length > 0){
            var replyIndex = comments[id].reply[0];
            delete replies[replyIndex];
        }
        delete comments[id];
        $commentContainer.html(drawComments(comments));
    }
    else{
        if(replies[id].reply.length > 0){
            var replyIndex = replies[id].reply[0];
            delete replies[replyIndex];
        }
        delete re[id];
        $commentContainer.html(drawComments(comments));        
    }
    
}) */